<div class="login-form" id = "loginForm">
    <form class="login-form-container" id = "loginFormContent" action="/login" method="post">
        <h1 class="login-title">Login</h1>
        <label class= "email-label" for="email">Email</label>
        <input type="text" name="email" placeholder="Enter Email" required=""></input>

        <label for="psw" class="password-label">Password</label>
        <input type="password" name="psw" placeholder="Enter Password" class="form_item" required=""></input>
        <div class="login-btns">
            <button type="submit" class="btn">Login</button>
            <button type="reset" class="btn cancel" onclick="closeForm()">Close</button>
        </div>

    </form>
</div>
