{{#if main-page}}
{{else}}
    <link rel="stylesheet" href="/styles/navbar.css"></link>
{{/if}}

<div class="nav-items" id = "topnav">
    {{#if main-page}}
        <a href="#" class="brand-logo"><img class="nav_logo" src="/assets/logo_white_embedded.svg"></img></a>
        <a href="#" class="brand-favicon"><img class="nav_favicon" src="/assets/favicon_white.png"></img></a>
    {{else}}
        <a href="/" class="brand-logo"><img class="nav_logo" src="/assets/logo_white_embedded.svg"></img></a>
        <a href="/" class="brand-favicon"><img class="nav_favicon" src="/assets/favicon_white.png"></img></a>
    {{/if}}

    <a class="icon"><i class="fa fa-bars"></i></a>
    <div class="nav-wrapper" id = "mobile-nav">
        {{#if loggedin}}
            <a class="nav_links" href="/logout">Logout</a>
            <a class="nav_links" href="/account">My Account</a>
        {{else}}
            <a id = "login_link" class="nav_links">Login/Register</a>
        {{/if}}
        {{#if isAdmin}}
            <a class="nav_links" href="/admin">Add Tickets</a>
            <a class="nav_links" href="/admin/tickets">Edit Tickets</a>
        {{/if}}
        {{#if main-page}}
            <a class="nav_links" href="#about_us" id="about_nav_link">About Us</a>
        {{/if}}
    </div>
</div>
<div id = "mobile-nav-bg" ></div>
