<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<meta name="viewport" content="width=device-width" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/scripts/index.js"></script>
<script src="/scripts/bookings.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></link>
<link rel="stylesheet" href="/styles/styles.css"></link>
<link rel="stylesheet" href="/styles/bookings.css"></link>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300" rel="stylesheet"></link>

{{> header title = "Astra | Bookings"}}

    <body>
        {{> navbar}}
        {{> login}}

        <div class = "summary-icon">
            <span id="summary-title-mobile">No ticket selected</span>
            <i class="fa fa-angle-double-down disable-fa" onclick="closeSummary()"></i>
            <i class="fa fa-angle-double-up disable-fa" onclick="showSummary()"></i>
            <div id = "summary_price_mobile" class = "summary_price_mobile"></div>

            <div class = "summary-mobile" id="mobile_summary">
                <p class = "summary_details_mobile_source">
                    <div class = "date departureDate"></div>
                    <span class = "time departureTime"></span>
                    <span class = "location departureLocation"></span>
                </p>
                <p class = "summary_details_mobile_destination">
                    <div class = "date arrivalDate"></div>
                    <span class = "time arrivalTime"></span>
                    <span class = "location arrivalLocation"></span>
                </p>
            </div>

            <div id = "d_summary_price_mobile" class = "summary_price_mobile"></div>
            <div class = "summary-mobile" id="d_mobile_summary">
                <p class = "summary_details_mobile_source">
                    <div class = "date departureDate"></div>
                    <span class = "time departureTime"></span>
                    <span class = "location departureLocation"></span>
                </p>
                <p class = "summary_details_mobile_destination">
                    <div class = "date arrivalDate"></div>
                    <span class = "time arrivalTime"></span>
                    <span class = "location arrivalLocation"></span>
                </p>
            </div>
            <button type = "submit" class="btn continue-mobile no-continue" onclick="confirmBooking()">Continue</button>

        </div>

        <div class="row">
            {{#if o_tickets}}
                <div class="column tickets">
                    <div id="outbound">
                        {{> tickets heading = "Outbound Journeys" ticketData = o_tickets}}
                    </div>
                    {{#if d_tickets}}
                        <div id="inbound">
                            {{> tickets heading = "Inbound Journeys" ticketData = d_tickets }}
                        </div>
                        {{else}}
                            <no-tickets>
                                No tickets available for this journey
                            </no-tickets>
                    {{/if}}
                </div>
                <span id = "summaryTop"></span>
                <div class="column summary" id = "summary">
                <h1>Summary</h1>
                    <p id = "o_unselected">No outbound ticket selected</p>
                    <div id = "summary_price" class = "summary_price"></div>
                    <div id = "summary_details" class = "summary_details">
                        <div class = "date departureDate"></div>
                        <span class = "time departureTime"></span>
                        <span class = "location departureLocation"></span>
                        <div id = "arrivalDate" class = "date arrivalDate"></div>
                        <span class = "time arrivalTime"></span>
                        <span class = "location arrivalLocation"></span>
                    </div>
                    <p id = "d_unselected">No inbound ticket selected</p>

                    <div id = "d_summary_price" class = "summary_price"></div>
                    <div id = "d_summary_details" class = "summary_details">
                        <div class = "date departureDate"></div>
                        <span class = "time departureTime"></span>
                        <span class = "location departureLocation"></span>
                        <div id = "arrivalDate" class = "date arrivalDate"></div>
                        <span class = "time arrivalTime"></span>
                        <span class = "location arrivalLocation"></span>
                    </div>

                    <form id = "hidden-form" action = "/confirmation" method="POST">
                        <div class = "hidden-form">
                            <input type="text" name="out_price" />
                            <input type="text" name="out_o_date" />
                            <input type="text" name="out_o_time" />
                            <input type="text" name="out_o_loc" />
                            <input type="text" name="out_d_date" />
                            <input type="text" name="out_d_time" />
                            <input type="text" name="out_d_loc" />

                            <input type="text" name="in_price" />
                            <input type="text" name="in_o_date" />
                            <input type="text" name="in_o_time" />
                            <input type="text" name="in_o_loc" />
                            <input type="text" name="in_d_date" />
                            <input type="text" name="in_d_time" />
                            <input type="text" name="in_d_loc" />

                        </div>
                        <input type="submit" name="continue" class = "btn no-continue" value="Continue" />

                    </form>
                </div>
            {{else}}
                <no-tickets>
                    No tickets available for this journey
                </no-tickets>
            {{/if}}
        </div>

    </body>
    {{> footer}}
</html>
