<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<meta name="viewport" content="width=device-width" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></link>
<link rel="stylesheet" href="/styles/styles.css"></link>
<link rel="stylesheet" href="/styles/bookings.css"></link>
<link rel="stylesheet" href="/styles/ticket-confirmation.css"></link>
<script src="/scripts/confirmation.js"></script>
<script src="/scripts/navbar.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300" rel="stylesheet"></link>

{{> header title = "Astra | Booking Confirmation"}}

    <body>
        {{> navbar}}
        {{> login}}

        {{> tickets heading = "Confirm your booking" ticketData = final_tickets}}

        <div class="pay-header">Payment Details</div>

        <form action="/confirmed" method="post" class="confirm-form">
            <select id="payment">
                <option value="Select card">Select card</option>
                <option value="card">Visa Debit ending 1234</option>
            </select>

            <div class = "hidden-form">
                {{#each final_tickets}}
                {{#if @first}}
                    <input type="number" name="source_id" value= "{{id}}"></input>
                {{/if}}
                {{#if @last}}
                    <input type="number" name="dest_id" value= "{{id}}"></input>
                {{/if}}
                    <!-- {{id}} -->
                {{/each}}
                <!-- <input type="text" name="in_id"></input> -->
            </div>
            <input type="submit" id ="payButton" class="btn pay-now" value="Pay now"></input>
        </form>
    </body>
    {{> footer}}
</html>
