<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/scripts/index.js"></script>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></link>
<link rel="stylesheet" href="/styles/styles.css"></link>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet"></link>

    {{> header title = "Astra | Home"}}

    <body>
        {{> navbar main-page=true  }}
        {{> login}}

        <div class="star_bg">
            {{> prompt }}

            <div class="advert_text">
                In T-minus 9,8,7,....
            </div>

            <div class="booking_bar">
                <form class="booking_form" action="/bookings" method="GET">

                    <span class = "booking_left">
                        <div class="form_item">
                            <input type="text" name="origin" placeholder="Enter Origin Base" required=""></input>
                        </div>
                        <div class="form_item">
                            <input type="text" name="destination" placeholder="Enter Destination Base" required="" class="dest"></input>
                        </div>
                    </span>
                    <span class = "booking_right">
                        <div class="form_item">
                            <input id="outbound_date" type="date" name="outbound_date" value="" required=""></input>
                        </div>
                        <div class="form_item">
                            <input type="date" name="inbound_date" value="" required=""></input>
                        </div>
                    </span>
                    <div class="booking_button">
                        <input class="btn" type="submit" value ="Find my journey"></input>
                    </div>
                </form>
            </div>
        </div>

        <a name = "about_us"></a>
        <section class="about_us">
            <div class="header">About Us</div>

            <div class="quote_wrapper">
                <div class="quote"><em>“The future is here, brighter than ever. At Astra, we believe that nobody should be restricted from travelling where their heart desires.”</em></div>
                <div class="quote_author">- Mr Lorem Ipsum, CEO</div>
            </div>

            <div class="about_subsection">
                <img class="about_logo" src="/assets/logo_white_embedded.svg"></img>
                <p>We are an all-in-one online booking service who help coordinate your transportation to get you to your next interplanetary destination. Given your intended date of travel, we list departure and arrival times from 106 different space-travel companies to give you a central website to book your tickets.</p>
            </div>

            <div class="about_subsection">
                <img class="right_col" src="/assets/spaceX_ship.png"></img>
                <h2 class="about_subheader">Our mission</h2>
                We aim to make your booking process run more smoothly. As space-travel companies expand and increase in number, we understand it can be stressful finding the flight that best suits you. With Astra, you need not worry about these matters as we handle it for you at the click of a button.
            </div>

            <div class="about_subsection">
                <img class="left_col" src="/assets/spaceX_ship_moon.jpg"></img>
                <h2 class="about_subheader">Who we are</h2>
                Our company is handled by our passionate and dilligent team from a total of 50 offices worldwide, in countries such as the UK, USA, China, Canada and Ireland. We continuously improve our services to ensure that you have a better experience travelling intergalactically in the near future.
            </div>

            <div class="about_subsection">
                <img class="right_col" src="/assets/mars.png"></img>
                <h2 class="about_subheader">Destinations</h2>
                With more than 50 destinations in just the solar system alone, Astra provides a wide range of far off destinations through our partners. You can go from exploring the craters of the Moon to the sands of Mars. Plus, with an Astra-funded satelite at every destination, we can ensure that you will always be connected with Earth.
            </div>

            {{#if loggedin}}
                <p class="join_us"><a href="#">Book your next flight today</a> to embark on the journey of your dreams.</p>
            {{else}}
                <p class="join_us"><a href="/register">Join us today</a> to embark on the journey of your dreams.</p>
            {{/if}}

        </section>


    </body>
    {{> footer}}

</html>
