<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<meta name="viewport" content="width=device-width" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></link>
<link rel="stylesheet" href="/styles/styles.css"></link>
<link rel="stylesheet" href="/styles/bookings.css"></link>
<link rel="stylesheet" href="/styles/register.css"></link>
<script src="/scripts/index.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300" rel="stylesheet"></link>

{{> header title = "Astra | Register"}}

    <body>
        {{> navbar}}
        {{> login}}

        {{> prompt}}

        <!-- mostly copied from the login form -->
        <form class="login-form-container" id = "loginFormContent" action="/registered" method="post">
            <h1 class="register-title">Register</h1>
            <label class= "email-label" for="first_name">First name</label>
            <input type="text" name="first_name" placeholder="Enter First Name" required=""></input>
            <label class= "email-label" for="last_name">Last name</label>
            <input type="text" name="last_name" placeholder="Enter Last Name" required=""></input>
            <label class= "email-label" for="email">Email</label>
            <input type="text" name="email" placeholder="Enter Email" required=""></input>
            <label class= "email-label" for="address">Address</label>
            <input type="text" name="address" placeholder="Enter Address" required=""></input>
            <label for="psw" class="password-label">Password</label>
            <input type="password" name="psw" placeholder="Enter Password" class="form_item" required=""></input>
            <label for="confirm_psw" class="password-label">Password</label>
            <input type="password" name="confirm_psw" placeholder="Confirm Password" class="form_item" required=""></input>

            <div class="login-btns">
                <button type="submit" class="btn">Register</button>
            </div>

        </form>

    </body>
    {{> footer}}
</html>
