<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<meta name="viewport" content="width=device-width" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></link>
<link rel="stylesheet" href="/styles/styles.css"></link>
<link rel="stylesheet" href="/styles/form-page.css"></link>
<script src="/scripts/navbar.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300" rel="stylesheet"></link>

{{> header title = "Astra | Change Password"}}

    <body>
        {{> navbar}}
        {{> login}}

        {{> prompt}}

        <!-- mostly copied from the login form -->
        <div class="login-form-container">
            <form action="/account/password" id = "change-pw" method="post">
                <h1 class="form-title">Change Password</h1>
                <label class= "email-label" for="address">Old Password</label>
                <input type="password" name="old_password" placeholder="Old Password" required=""></input>
                <label class= "email-label" for="address">New Password</label>
                <input type="password" name="new_password" placeholder="New Password" required=""></input>
                <label class= "email-label" for="address">Confirm New Password</label>
                <input type="password" name="confirm_password" placeholder="Confirm New Password" required=""></input>
            </form>

            <div class="login-btns">
                <button form = "change-pw" type="submit" class="btn">Save</button>
                <a href="/account"><button type="submit" class = "btn">Back</button></a>
            </div>
        </div>

    </body>
    {{> footer}}
</html>
