<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<meta name="viewport" content="width=device-width" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></link>
<link rel="stylesheet" href="/styles/styles.css"></link>
<link rel="stylesheet" href="/styles/form-page.css"></link>
<script src="/scripts/navbar.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300" rel="stylesheet"></link>

{{> header title = "Astra | Delete Account"}}

    <body>
        {{> navbar}}
        {{> login}}

        {{> prompt}}

        <!-- mostly copied from the login form -->
        <div class="login-form-container">
                <h1 class="form-title">Delete Your Account</h1>
                Are you sure you want to delete your account? You may miss out on any discounts. Your tickets will be refunded.

            <form action="/account/delete" id = "delete-account" method="post">
                <label class= "email-label" for="address">Enter password as confirmation</label>
                <input type="password" name="password" placeholder="Enter your password" required=""></input>
            </form>

            <div class="login-btns">
                <button form = "delete-account" type="submit" class="btn">Delete</button>
                <a href="/account"><button type="submit" class = "btn">Back</button></a>
            </div>
        </div>

    </body>
    {{> footer}}
</html>
