body {
    margin-left: 0;
    margin-right: 0;
    min-height: 0;
    margin-bottom: 5%;
}

.account-wrapper {
    margin-left: 4%;
    margin-right: 4%;
}

.title-header {
    font-size: 150%;
}

.subheader {
    font-size: 140%;
    margin-bottom: 3%;
}

.personal-details {
    padding: 2% 4%;
    border-style: solid;
    border-color: var(--main-bg-colour);
    border-radius: 15px;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 100%;
}

.details-wrapper {
    display: inline-block;

}

.account-left, .account-right {
    width: 50%;
}

.account-left {
    float: left;
    padding-right: 3%;
}

.account-right {
    float:right;
    padding-left: 3%;
}

.account-details {
    padding-bottom: 1%;
}

.account-btns button {
    margin-top: 1%;
    margin-bottom: 1%;
}

.warning:hover {
    background: #c23e0e;
}

.account-link {
    color: var(--main-bg-colour);
    transition: color 0.3s;
}

.account-link:hover {
    color: #2cbcad;
}

strong {
    font-weight: bolder;
    margin-right: 5%;
}

.ticket-card:hover{
    cursor: auto;
}

.ticket-card button {
    margin-top: 3%;
}

@media only screen and (max-width: 750px) {
    body {
        margin-top: 12%;
    }
}

@media only screen and (max-width: 650px) {
    .account-left, .account-right {
        width: 100%;
        float: none;
        clear: both;
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 600px) {
    .account-btns button {
        width: 100%;
    }

    .ticket-card button {
        width: 100%;
    }


}

@media only screen and (max-width: 400px) {
    body {
        margin-top: 15%;
    }

    .account-btns button, .ticket-card button {
        font-size: 80%;
    }
}
