.prompt {
    margin-left: -2%;
    margin-right: -2%;
}

.title-header {
    margin-bottom: 30px;
}

#users, #addAdminButton {
    width: 100%;
    margin: auto;
}

#addAdminButton {
    visibility: hidden;
    margin-top: 20px;
}

#add_admin_form {
    text-align: center;
}


.admin-buttons {
    text-align: center;
}

.admin-buttons input {
    margin-left: 1%;
    margin-right: 1%;
}

#add-dest {
    margin-bottom: 50px;
}

.admin_bar input[type="text"], .admin_bar input[type="date"] {
    width: 100% !important;
}

.booking_form .booking_button {
    width: 100%;
}

.booking_form {
    max-width: 600px;
    min-width: 225px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.list{
    display: block;
}

.dest_btn{
    width: 100%;
}

#filter_form {
    text-align: center;
}

#filter_div {
    width: 80%;
    margin-bottom: 70px;
}

.booking_left, .booking_right {
    display: block;
}

.buttons {
    display: none;
}

.buttons button {
    width: 100%;
    margin-top: 7px;
}

.admin_destination{
    position: absolute;
    margin-top: 30%;
    margin-left: 15%;
    width:40%;
}

.mobile{
    display: none;
}

.booking_button, input.filter {
    width:100%;
}

.delete{
    background: #c23e0e;
}

@media only screen and (max-width: 800px) {
    .admin-buttons input {
        width: 100%;
        margin-top: 10px;
    }
}
