.admin_navbar{
    position: relative;
}
.admin_bar{
    position: absolute;
    margin-top: 18%;
    margin-left: 15%;
    width:90%;
    max-width: 1300px;
}

.admin_destination{
    position: absolute;
    margin-top: 30%;
    margin-left: 15%;
    width:40%;
}

.admin_prompt{
    /* padding-left: 50%; */
    position: absolute;
    margin-top: 8%;
    width:100%;
}

.admin_tickets{
    position: absolute;
    margin-top: 5%;
}
.buttons{
    /* width:100%; */
    /* display: block; */
}
.buttons button{
    /* display: inline-block; */
    /* display: inline; */
    /* width: 100%; */
}
.filter{
    width:100%;
}
.delete{
    /* position: relative; */
    /* float:left; */
    /* margin-left:0%; */
    background: #c23e0e;
}

.update{
    float:right;
}
