:root{
    --ticket-highlight: #1e875b;
    --summary-colour: #1f877d;
}

body {
    box-sizing: border-box;
    margin: 2%;
    margin-top: 7%;
    min-height: 800px;

}

.column{
    float: left;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.ticket_id {
    display: none;
}

.tickets{
    width:75%;
}

.ticket-card{
    background: var(--main-bg-colour);
    padding-left: 10%;
    padding-right: 7%;
    padding-bottom: 3%;
    padding-top: 2%;
    margin: 2%;
    border-radius: 15px;
    -webkit-user-select: initial;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.ticket-selected {
    background: var(--ticket-highlight);;
}

.d_ticket-selected {
    background: var(--ticket-highlight);;
}

.ticket-card:hover{
    cursor: pointer;
}

.ticket-content{
    display: inline-block;
    vertical-align: text-top;
}

.source {
    width: 28%;
}

.sideways_rocket {
    width: 25%;
    margin-left: -3%;
    margin-right: -3%;
}

.sideways_rocket img {
    width: 50%;
    height: auto;
    margin-left: 15%;
}

.destination {
    width: 28%;
}

.price {
    float:right;
    font-size: 200%;
}

.date {
    font-size: 80%;
    /* font-weight: lighter; */
    border-bottom-style: solid;
    border-width: 1px;
    padding-right: 5%;
}

.time {
    /* font-size: 100%; */
    font-weight: bold;
    font-size: 90%;
}

.location {
    font-size: 90%;
    /* font-weight: bolder; */
}

#arrivalDate {
    margin-top: 15%;
}

.fa-map-marker {
    margin-left: 1.5%;
    margin-right: 2.5%;
}

.btn:focus {
    background-color:var(--dark-blue-banner);
}

h1 {
    font-size: 150%;
    margin-top: 2%;
}


.summary {
    width: 23%;
    margin: 0;
    position: absolute;
    right: 2.2%;
    background: var(--summary-colour);
    border-radius: 15px;
    padding: 2%;
}

.summary_fixed {
    position: fixed;
    top: 20px;
}

.summary_details {
    font-size: 115%;
    -webkit-transition: max-height 0.3s ease-out;
    -moz-transition: max-height 0.3s ease-out;
    -ms-transition: max-height 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
}

.change_height {
    max-height: 20em;
    margin-bottom: 10%;
}

.summary_price {
    font-size: 180%;
    margin-bottom: 10%;
}

.summary-icon {
    font-size: 140%;
    background: var(--summary-colour);
    display: none;
    padding: 2% 4%;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 10px 10px 30px black;
}

.continue-mobile {
    display: none;
    width: 100%;
}

.no-continue {
    display: none !important;
}

.fa-angle-double-up, .fa-angle-double-down {
    float: right;
    margin-top: 1%;
}

.disable-fa {
    display: none;
}

.summary-mobile {
    margin: 2% 5%;
    margin-bottom: 0;
    font-size: 130%;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.3s ease-out;
    -moz-transition: max-height 0.3s ease-out;
    -ms-transition: max-height 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
}

.change_height_mobile {
    max-height: 15em;
}

.summary_price_mobile {
    font-size: 100%;
    float:right;
    margin-right: 5%;
}

.summary_details_mobile_source {
    font-size: 60%;
    width: 40%;
    display: inline-block;
    float: left;
    margin-right: 15%;
    margin-top: 1%;
}

.summary_details_mobile_destination {
    font-size: 60%;
    width: 40%;
    display: inline-block;
    float: right;
    margin-top: 1%;
}

.close{
    position: relative;
    top:75%;
    left:40%
}

.hidden-form {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .summary-icon{
        display: block;
    }

    .summary{
        display: none;
    }

    .tickets{
        width: 100%
    }

    .continue-mobile{
        display: block;
    }
}

@media only screen and (max-width: 780px) {
    .sideways_rocket {
        width: 35%;
        margin-left: -5%;
        margin-right: -5%;
    }

    .price {
        float: none;
        display: block;
        margin-bottom: 2%;
    }

    .source, .destination {
        width: 33%;
    }
}

@media only screen and (max-width: 520px) {
    body {
        font-size: 130%;
    }
}

@media only screen and (max-width: 450px) {
    body {
        margin-top: 10%;
        font-size: 110%;
    }

    .ticket-card {
        padding-left: 5%;
        padding-right: 5%;
    }

    .sideways_rocket {
        width: 30%;
        margin-left: -5%;
        margin-right: -5%;
    }

    .source, .destination {
        width: 38%;
    }
}

@media only screen and (max-width: 350px) {
    body {
        margin-top: 15%;
    }
}

#d_summary_price_mobile {
    position: relative;
    left: 75%;
    float:none;

}
