:root{
    --summary-colour: #1f877d;
}
.nav-items{
    position: absolute;
    top: 0%;
    background: var(--dark-blue-banner);
    transition: background 0s;
}

body {
    box-sizing: border-box;
    margin: 2%;
    margin-top: 5%
}

.column{
    float: left;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.tickets{
    width:75%;
    /* background: var(--main-bg-colour); */

}

.ticket-card{
    background: var(--main-bg-colour);
    padding: 1% 10%;
    margin: 2%;
    border-radius: 15px;
    -webkit-user-select: initial;
}

.ticket-selected {
    background: var(--summary-colour);
}

.ticket-card:hover{
    cursor: pointer;
    /* background: green; */
}

.ticket-content{
    display: inline-block;
    /* padding-right: %; */
}

.time-place{
    /* display: inline-block; */
}

.price{
    /* position: relative;
    top: 50%; */
    float:right;
    font-size: 200%;
}

.left{
    margin-right: 25%;
    /* margin-left: 10%; */
}

.summary{
    width: 20%;
    background: var(--summary-colour);
}

.btn:focus{
    background-color:var(--dark-blue-banner);
    /* background: transparent !important; */
}

h1 {
    font-size: 150%;
    margin-top: 2%;
}

.summary_details {
    margin-bottom: 10%;
}
