:root{
    --main-bg-colour: #007cbf;
    --dark-blue-banner: #00304A;
}

html {
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
}

nav{
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    padding: 0px 20px;
    z-index: 100;
    overflow: hidden;
}

.nav-items{
    width: 100%;
    position: fixed;
    background: rgba(0,0, 0, 0.2);
    right: 0%;
    /* float: right; */
    display: block;
    z-index: 150;
    overflow: hidden;
    transition: background 0.5s;
}

.nav_links {
    padding: 15px 0;
}

ul li a {
    /* position: absolute;
    right: 5%; */
    float: right;
    display: inline-block;
}

.nav-items a{
    /* position: absolute; */
    /* right: 1%; */
    float: right;
    display: inline-block;
    padding-right: 4%;
    padding-left: 4%;
    text-align: center;
    font-size: 100%;
    color: white;
    transition: background 0.3s;
}

.nav-items a:hover{
    background: var(--main-bg-colour);
}

.nav_favicon {
    width: 10%;
    height: auto;
    margin-top: 3%;
}

.nav-items a.brand-logo {
    /* position: absolute;
    left: 2%; */
    float: left;
}

.nav-items a.brand-favicon {
    float: left;
    padding: 0;
    margin-left: -90px;
    display: none;
}

.nav-items .icon{
    display: none;
}
ul{
    float: right;
}

ul li a{
    display: inline-block;
}


/* nav .icon{
    display: none;
} */
.bar_colour{
    background: #00304a;
}

.login-title{
    font-size: 3em;
    text-align: center;
}
.login-form{
    display: none;
    position: fixed;
    /* background:#007cbf; */
    /* background-color: rgb(0,0,0); */
    background-color: rgb(0,0,0,0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* overflow: auto; */
    padding-top: 20%;
    z-index: 1;
}

.login-form-container{
    margin: auto;
    height: 310px;
    width: 250px;
    background: #007cbf;
}

body{
    background: #000000;
    color: white;
    font-size: 150%;
}

.star_bg{
    background-image: url(/assets/space.jpg);
    background-size: cover;
    width: 100%;
    height: 630px;
    padding-top: 10%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2%;
}

.advert_text{
    font-size: 75px;
}

.booking_bar{
    height: 100px;
    width: 60%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}

.booking_form{
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--main-bg-colour);
    border-radius: 15px;
}

.form_item{
    display: inline-block;
    margin: 0 2%;
}

.nav_logo {
    margin: 5px 0;
    height: 40px;
}

@media only screen and (max-width: 600px) {
    .nav-wrapper a{display: none;}
    .nav-items a.icon{
        float: right;
        display: block;
    }
}

.btn{
    background: #00304A;
}

@media only screen and (max-width: 600px) {
    .nav-items.responsive{
        position: fixed;
    }
    div#topnav.nav-items.responsive a.icon{
        position: absolute;
        right: 0;
        top: 0;
    }


    div#topnav.nav-items.responsive a.nav_links{
        padding-right: 20px;
        display: block;
        float: none;
        margin-top: 2%;
    }

    .advert_text{
        position: relative;
        top: 25%;
        font-size: 50px;
    }
    .booking_bar{
        position: relative;
        top: 30%;
    }
    .form_item{
        width:80%;
    }
    div.header {
        font-size: 40px;
        width: 65%;
    }
    img.about_logo{
        height: 65px;
    }
    img.right_col{
        height: 160px;
    }
    img.left_col{
        height:160px;
    }

    .nav-items a.brand-logo {
        display: none;
    }

    .nav-items a.brand-favicon {
        display: block;
    }
}

.about_us{
    position: relative;
    margin:auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 83%;
}

.header {
    background: #007cbf;
    font-family: 'Righteous', sans-serif;
    font-size: 60px;
    text-align: center;
    width: 50%;
    margin: 5% auto;
    border-radius: 15px;
}

.about_logo {
    float:left;
    height: 130px;
    width: auto;
    margin: 5% 2%;
}

.left_col {
    float: left;
    height: 225px;
    width: auto;
    margin-right: 5%
}

.about_images {
    height: 250px;
    width: auto;
}

.right_col {
    float:right;
    height: 250px;
    width: auto;
    margin-left: 2%;
}

.about_us p {
    margin-top: 7%;
}

footer {
    background: #00304a;
    padding: 0px 30px;
    color: white;
    font-size: 15px;
    height: 83px;
}

footer svg {
    height: 40px;
    width: auto;
}

footer svg path {
    transition: fill 0.3s;
}

footer a {
    color: #007cbf;
    transition: color 0.3s;
}

footer a:hover {
    color: #2cbcad;
}

.footer_text {
    float: left;
    margin-left: 5%;
}

.footer_icons {
    margin-top: 20px;
    float: right;
    margin-right: 5%;
}

footer svg:hover path {
    fill: #2cbcad !important;
}

@media only screen and (max-width: 600px) {
    footer{
        padding: 0px 0px;
        font-size: 10px;
        height: 50px;
    }

    footer svg {
        width: 20px;
        height: auto;
    }
}
