nav{
    position: fixed;
    background: rgba(0,0, 0, 0.2);
    padding: 0px 20px;
    z-index: 100;
}

nav li a:hover{
    background: #007cbf;
}

.bar_colour{
    background: #091D4F;
}

body{
    background: #000000;
    color: white;
}

.star_bg{
    background-image: url(/assets/space.jpg);
    background-size: cover;
    width: 100%;
    height: 630px;
    padding-top: 10%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

.advert_text{
    font-size: 75px;
}

.booking_bar{
    background: #007cbf;
    height: 100px;
    width: 60%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_item{
    display: inline-block;
    margin: 0 2%;
}

.about_us{
    width: 100%;
    height: 20%;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 5%
}
