/* for pages displaying a ticket at the top, for confirmation */

body {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 100px;
    margin-bottom: 70px;
    min-height: 0;
}

#total-price {
    margin-left: 2%;
    font-size: 150%;
}

#amount {
    margin-left: 5%;
    font-size: 165%;
    text-decoration: underline;
}

.confirmed_tickets {
    margin-bottom: 40px;
}

.btn .pay-now {
    margin: auto;
}

.ticket-card:hover{
    cursor: auto;
}

.pay-header {
    margin-left: 2%;
    font-size: 130%;
}

select {
    display: block;
    margin-bottom: 15px;

}

.confirm-form {
    margin-top: 15px;
    padding-left: 2%;
    padding-right: 2%;
    width: 70%;
}

#payButton {
    visibility: hidden;
}

@media only screen and (max-width: 700px) {
    #payButton, .confirm-form {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    body {
        margin-top: 60px;
    }

    p {
        text-align: center;
    }

}
