<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<meta name="viewport" content="width=device-width" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></link>
<link rel="stylesheet" href="/styles/styles.css"></link>
<link rel="stylesheet" href="/styles/bookings.css"></link>
<link rel="stylesheet" href="/styles/account.css"></link>
<link rel="stylesheet" href="/styles/admin.css"></link>
<script src="/scripts/navbar.js"></script>
<script src="/scripts/admin.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300" rel="stylesheet"></link>
{{> header title = "Astra | Add Admins"}}
<body>
    {{> navbar }}
    {{> prompt }}

    <div class = "account-wrapper">
        <h1 class="title-header">Add Administrators</h1>
        <div class="booking_bar">
            <form id = "add_admin_form" class="" action="" method="POST">
                <select class="list" id = "users" name = "id" form = "add_admin_form">
                    <option>Select user</option>
                {{#each users}}
                    <option value="{{id}}">{{full_name}}</option>
                {{/each}}
                </select>

                <input type="submit" name="" id = "adminButton" class="btn" value="Give Admin Privileges"></input>
            </form>
        </div>
    </div>

</body>

{{> footer}}
</html>
