<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<meta name="viewport" content="width=device-width" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></link>
<link rel="stylesheet" href="/styles/styles.css"></link>
<link rel="stylesheet" href="/styles/bookings.css"></link>
<link rel="stylesheet" href="/styles/form-page.css"></link>
<link rel="stylesheet" href="/styles/account.css"></link>
<link rel="stylesheet" href="/styles/admin.css"></link>
<script src="/scripts/navbar.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300" rel="stylesheet"></link>
{{> header title = "Astra | Add Tickets"}}
<body>
    {{> navbar }}
    {{> prompt }}

    <div class = "account-wrapper">
        <h1 class="title-header">Add New Ticket</h1>

        <form class="admin_bar booking_bar booking_form" action="/admin/addticket" method="post">
            <label class= "email-label" for="origin">Origin</label>
            <input list = "places" type="text" name="origin" placeholder="Enter Origin Base" required=""></input>
            <label class= "email-label" for="destination">Destination</label>
            <input list = "places" type="text" name="destination" placeholder="Enter Destination Base" required=""></input>
            <datalist id="places">
                {{#each destinations}}
                    <option value="{{name}}"></option>
                {{/each}}
            </datalist>
            <label class= "email-label" for="outbound_date">Outbound Date</label>
            <input id="outbound_date" type="date" name="outbound_date" value="" required=""></input>
            <label class= "email-label" for="outbound_time">Outbound Time</label>
            <input id="outbound_time" type="time" name="outbound_time" value="" required=""></input>
            <label class= "email-label" for="inbound_date">Inbound Date</label>
            <input type="date" name="inbound_date" value="" required=""></input>
            <label class= "email-label" for="inbound_time">Inbound Time</label>
            <input id="inbound_time" type="time" name="inbound_time" value="" required=""></input>
            <label class= "email-label" for="price">Price</label>
            <input id="price" type="number" name="price" placeholder="Enter Price" value="" required=""></input>

            <div class="booking_button">
                <input class="btn" type="submit" value ="Add Ticket"></input>
            </div>
        </form>

        <h1 class="title-header">Add New Destination</h1>

        <form class="booking_form booking_bar" action="/admin/destination" method="post">
            <input type="text" name="destination" value="" placeholder="Enter New Destination" required=""></input>

            <div class="booking_button dest_btn">
                <input class="btn" type="submit" value ="Add Destination"></input>
            </div>
        </form>
    </div>
</body>

{{> footer}}

</html>
